{
    "plugins": [
        ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
        ["@babel/plugin-proposal-optional-chaining", {"loose": false}],
        ["@babel/plugin-proposal-logical-assignment-operators"],
        ["@babel/plugin-proposal-do-expressions"],
    ]
}